body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 a{
  font-size:1.8rem;
}
.text-light{
  color: #f8f9fa;
}
.text-light:visited {
  color: #f8f9fa;
}
h1 a.text-light:hover{
  color: #f8f9fa!important;
  text-decoration: none!important;
}
.nuevo-post{
  font-weight: bold;
  text-transform: uppercase;
}
.btn{
  font-weight: bold;
}
.form-group label,
.list-group-item{
  font-size: 1.4rem;
}
.navbar .btn{
  flex:1;
}
th{
  color: white;
}
@media (min-width: 768px){
  .navbar .btn{
    flex: 0 1 auto
  }
}
.acciones{
  margin: 1rem 0;
}

@media (min-width: 768px){
  .acciones{
    margin:0
  }
}
@media(max-width: 768px){
  .acciones > * {
   display:block
  }
  #btnBorrar{
    margin-top:1rem;
  }
}

.acciones > *{
  flex:1;
}